<ion-header>
  <ion-toolbar class="bg-toolbar">
    <ion-buttons slot="start" class="p-l-5" (click)="close_modal()">
      <ion-icon name="arrow-back-outline" style="zoom:1.5;color:white;"></ion-icon>
    </ion-buttons>
    <ion-title class="p-l-25">Select category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="success" *ngIf="type_input == 'parent_income' || type_input == 'income'">
    <ion-icon name="trending-up-outline" style="zoom:1.6;"></ion-icon>
    <ion-label class="fs-20">
      &nbsp;INCOME
    </ion-label>
  </ion-item-divider>

  <ion-item-divider color="danger" *ngIf="type_input == 'parent_expense' || type_input == 'expense'">
    <ion-icon name="trending-down-outline" style="zoom:1.6;"></ion-icon>
    <ion-label class="fs-20">
      &nbsp;EXPENSE
    </ion-label>
  </ion-item-divider>

  <!-- Item Dividers in a List -->
  <ion-list *ngIf="type_input == 'income' || type_input == 'expense'">
    <ion-item *ngFor="let value of (obj_category | async)" (click)="add_category(value.cat_name,value.cat_type)">
      <ion-label class="p-l-0">{{value.cat_name}}</ion-label>
      <ion-button slot="end" color="light" >
        + ADD
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="type_input == 'parent_income' || type_input == 'parent_expense'">
    <ion-item *ngFor="let value of (obj_sub_category | async)" (click)="add_category(value.cat_name,value.cat_type)">
      <ion-label class="p-l-0">{{value.cat_name}}</ion-label>
      <ion-button slot="end" color="light" >
        + ADD
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
