<ion-header>
  <ion-toolbar class="bg-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab_account"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: left;">My Wallets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Item Dividers in a List -->
  <ion-list>
    <ion-item-divider>
      <ion-label slot="start">Included in Total</ion-label>
    </ion-item-divider>
    <ion-card>
      <ion-spinner name="dots" *ngIf="loading == 0" style="text-align: center;"></ion-spinner>
      <div *ngFor="let wallet of (obj_MWallet_List | async)">
        <ion-item-sliding>
          <ion-item style="margin: 0px;">
            <ion-icon name="wallet" slot="start" size="large" style="color:blueviolet !important;"></ion-icon>
            <ion-label>
              <span class="fs-14">{{wallet.wallet_name}}</span>
            </ion-label>
            <ion-chip fill="outline" slot="end" style="color:blueviolet !important;">฿ {{wallet.wallet_balance}}</ion-chip>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="primary" (click)="modal_update_show(1)">
              <ion-icon slot="start" name="create"></ion-icon>
              Edit
            </ion-item-option>
            <ion-item-option color="danger" (click)="wallet_active_update_AlertConfirm(1)">
              <ion-icon slot="start" name="trash"></ion-icon>
              Delete
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-card>
    <ion-card *ngIf="check_obj_MWallet_List == 0">
      <ion-item style="margin: 0px;" >
        <ion-label style="text-align: center;">
          <span class="fs-14">No wallet</span>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>



  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="modal_insert_show()">
    <ion-fab-button color="success">
      <ion-icon name="add">+</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
