<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button (click)="modal_insert_show()">
      <ion-icon name="add"></ion-icon>
      <ion-label>Transaction</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab_wallet">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
