<ion-header>
  <ion-toolbar class="bg-toolbar">
    <ion-buttons slot="start" class="p-l-5" (click)="close_modal()">
      <ion-icon name="arrow-back-outline" style="zoom:1.5;color:white;"></ion-icon>
    </ion-buttons>
    <ion-title class="p-l-25">Transfer another wallets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list  >
    <ion-item-divider>
      <ion-label >Wallet name:</ion-label>
      <ion-label color="primary" class="p-l-15">
        <h1>{{now_wallet}}</h1>
      </ion-label>
    </ion-item-divider>
  </ion-list>
 
  <div class="balance">
      <span class="balance">
        Balance 
        <ion-chip fill="outline" slot="end" style="color:#3358ff; font-size:25px">{{balance}} ฿</ion-chip><br>
        <ion-img style="width: auto !important; height: 150px;align-items: center; margin-top: 30px;" src="assets/images/money.jpeg"></ion-img>
        <ion-button *ngIf="check_hide_card_his"  (click)="tranfer_money()">Transfer Money</ion-button>
        <ion-button *ngIf="check_hide_card_tran"  (click)="history_transfer()">History Transfer</ion-button>
      </span>
  </div>
  <!-- card  เเสดงประวัติการโอน-->
  <div *ngIf="check_hide_card_his">
    <ion-card >
    <ion-item style="font-size:18px;">
      <ion-icon name="time-outline" style="color:blueviolet;" class="p-r-5"></ion-icon>
      <ion-label position="" class="fs-15">Transfer history</ion-label>
    </ion-item>
    <ion-list>
      <div *ngFor="let value of historys">
        <ion-item >
          <ion-datetime displayFormat="DD MMMM YYYY " slot="start" [(ngModel)]="value.transaction_date"></ion-datetime>
          <ion-label class="p-l-30">
            <h3>{{value.sub_categories_name}}</h3>
            <p>Price : {{value.transaction_amount}} Bath.</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
  </div>
  <!-- card  แสดงส่วนของการโอน-->
  <div *ngIf="check_hide_card_tran">
    <ion-card >
    <ion-item style="font-size:18px;">
      <ion-icon name="cash-outline" style="color:blueviolet;" class="p-r-5"></ion-icon>
      <ion-label position="" class="fs-15">Transfer Money</ion-label>
      <ion-icon name="close" (click)="tranfer_money()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon style="color:blueviolet;" name="wallet-outline" class="p-r-5" ></ion-icon>
      <ion-label position="" class="fs-15"> Select Wallet</ion-label>
            <ion-select style="margin-left: 1px;" [(ngModel)]="select_wallet_id"  cancelText="Cancle" okText="Confirm" id="select_wallet">
              <div *ngFor="let value of wallets">
                  <ion-select-option value="{{value.id}}">{{value.wallet_name}}</ion-select-option>
              </div>
            </ion-select>
      </ion-item>
  
    <ion-card-content>
        <ion-label position="floating" class="fs-15">Amount of money</ion-label>
        <ion-input type="number" placeholder="0"   [(ngModel)]="money"></ion-input>
        <ion-button expand="block" (click)="insert_tranfer()">Transfer</ion-button>
     
    </ion-card-content>
  </ion-card>
  </div>
    <!-- <ion-title class="p-l-25">Money transfer history</ion-title> -->


</ion-content>
