<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-icon name="wallet-outline" class="p-r-15"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-start">
              Menu Item
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="chevron-forward-outline" class="ion-text-end"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-icon name="wallet-outline" class="p-r-15"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-start">
              Menu Item
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="chevron-forward-outline" class="ion-text-end"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-icon name="wallet-outline" class="p-r-15"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-start">
              Menu Item
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <ion-icon name="chevron-forward-outline" class="ion-text-end"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  
</ion-content>
