<ion-header [translucent]="true">
  <ion-toolbar class="bg-toolbar">
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list  >
    <ion-item-divider>
      <ion-label slot="start">Menu</ion-label>
    </ion-item-divider>
    <ion-menu-toggle auto-hide="false">
      <ion-item (click)="redirect_wallet()">
        <ion-icon name="wallet-outline" class="p-r-15"></ion-icon>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-start">
                My Wallets
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-end">
                <ion-icon name="chevron-forward-outline" class="ion-text-end"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item (click)="redirect_category()">
        <ion-icon name="apps-outline" class="p-r-15"></ion-icon>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-start">
                Categories
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-end">
                <ion-icon name="chevron-forward-outline" class="ion-text-end"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item (click)="modal_transfer_input_show()">
        <ion-icon name="swap-horizontal-outline" class="p-r-15"></ion-icon>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-start">
                Transfer
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-end">
                <ion-icon name="chevron-forward-outline" class="ion-text-end"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" class="p-r-15"></ion-icon>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-start">
                Logout
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-end">
                <ion-icon name="chevron-forward-outline" class="ion-text-end"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
