<ion-header>
  <ion-toolbar class="bg-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab_account"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: left;">Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="success">
    <ion-icon name="trending-up-outline" style="zoom:1.6;"></ion-icon>
    <ion-label class="fs-20">
      &nbsp;INCOME
    </ion-label>
  </ion-item-divider>

  <!-- Item Dividers in a List -->
  <ion-list lines="none">
    <!-- <ion-item-divider>
      <ion-label class="fs-17">
        Award
      </ion-label>
    </ion-item-divider> -->

    <ion-item-divider button  *ngFor="let value of (MCategories_list | async)">
      <ion-label class="fs-17">
        {{value.cat_name}}
      </ion-label>
    </ion-item-divider>
<!-- 
    <ion-item-divider>
      <ion-label class="fs-17">
        Interest Money
      </ion-label>
    </ion-item-divider>

    <ion-item-divider>
      <ion-label class="fs-17">
        Salary
      </ion-label>
    </ion-item-divider>

    <ion-item-divider>
      <ion-label class="fs-17">
        Selling
      </ion-label>
    </ion-item-divider>

    <ion-item-divider>
      <ion-label class="fs-17">
        Others
      </ion-label>
    </ion-item-divider> -->
    
  </ion-list>

  <ion-item-divider color="danger">
    <ion-icon name="trending-up-outline" style="zoom:1.6;"></ion-icon>
    <ion-label class="fs-20">
      &nbsp;EXPENSE
    </ion-label>
  </ion-item-divider>
  
  <!-- Item Dividers in a List -->
  <ion-list lines="none">
    <ion-item-divider>
      <ion-label class="fs-17">
        Food & Beverage
      </ion-label>
    </ion-item-divider>

    <ion-item-sliding>
      <ion-item >
        <ion-label class="p-l-15">Restaurants</ion-label>
        <ion-icon slot="end" name="ellipsis-vertical" (click)="category_manage_alert()"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item >
        <ion-label class="p-l-15">Cafe</ion-label>
        <ion-icon slot="end" name="ellipsis-vertical" (click)="category_manage_alert()"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item >
        <ion-label class="p-l-15">Food</ion-label>
        <ion-icon slot="end" name="ellipsis-vertical" (click)="category_manage_alert()"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-divider>
      <ion-label class="fs-17">
        Transportation
      </ion-label>
    </ion-item-divider>
    <ion-item-sliding>
      <ion-item >
        <ion-label class="p-l-15">Taxi</ion-label>
        <ion-icon slot="end" name="ellipsis-vertical" (click)="category_manage_alert()"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item >
        <ion-label class="p-l-15">Parking Fees</ion-label>
        <ion-icon slot="end" name="ellipsis-vertical" (click)="category_manage_alert()"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
    <ion-item-divider>
      <ion-label class="fs-17">
        Shopping
      </ion-label>
    </ion-item-divider>
    <ion-item-sliding>
      <ion-item >
        <ion-label class="p-l-15">Clothing</ion-label>
        <ion-icon slot="end" name="ellipsis-vertical" (click)="category_manage_alert()"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item >
        <ion-label class="p-l-15">Footwear</ion-label>
        <ion-icon slot="end" name="ellipsis-vertical" (click)="category_manage_alert()"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="modal_insert_show()">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>   
</ion-content>  
