<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab_account"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: left;">Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="modal_insert_show()">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>   
</ion-content>  
