<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div class="limiter">
        <div class="container-login100">
          <div class="wrap-login100">
              <span class="login100-form-title p-b-26">
                Signup
              </span>
    
              <ion-item>
                <ion-label position="floating" >Username</ion-label>
                <ion-input [(ngModel)]="username"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-label position="floating" >Password</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-label position="floating" >Confirm Password</ion-label>
                <ion-input type="password" [(ngModel)]="validate_password"></ion-input>
              </ion-item>
              <br>
              <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                  <div class="login100-form-bgbtn"></div>
                  <button class="login100-form-btn" (click)="signup()">
                    register
                  </button>
                </div>
              </div>
    
              <div class="text-center p-t-25">
                <span class="txt1">
                  You have an account?
                </span>
    
                <span class="txt2" (click)="redirect_signin()">
                  Sign In
                </span>
              </div>
          </div>
        </div>
      </div>
		</ion-col>
	</ion-row>
</ion-grid>