<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->

<ion-header class=" header-bg-color">
  <ion-toolbar >
    <ion-grid>
      <ion-row class="ion-align-items-center p-t-10">
        <ion-col></ion-col> 
        <ion-col>
          <ion-chip class="chip-bl">
            <ion-label>Balance</ion-label>
          </ion-chip>
        </ion-col> 
        <ion-col></ion-col> 
      </ion-row>
    </ion-grid>
    <ion-title style="font-size: 40px!important;">2000 <span style="font-size: 20px;">THB.</span></ion-title>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col></ion-col> 
        <ion-col>
          <ion-chip class="chip-bl">
            <ion-label>This Month</ion-label>
          </ion-chip>
        </ion-col> 
        <ion-col></ion-col> 
      </ion-row>
    </ion-grid>
   
    <ion-list lines="none" style="background-color: transparent !important;">
      <ion-item style="background-color: transparent !important;">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col style="text-align: center">
              <!-- <ion-icon style="zoom:2.0;color:lightgreen;" name="arrow-up-outline"></ion-icon> -->
              <ion-label class="tw">
                <span class="fs-13" style="color: lightgreen !important;">Income</span> 
                <br> 
                <span class="fs-15" style="color: white !important;">5000</span>
              </ion-label>
            </ion-col>
            <ion-col></ion-col>
            <ion-col style="text-align: center">
              <!-- <ion-icon style="zoom:2.0;color:red;" name="arrow-down-outline"></ion-icon> -->
              <ion-label class="tw">
                <span class="fs-13" style="color: orange !important;">Expense</span> 
                <br> 
                <span class="fs-15" style="color: white !important;">3000</span>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-item>
    </ion-list>
  </ion-toolbar>
  
</ion-header>

<ion-content >
  <!-- Item Dividers in a List -->
  <ion-list>
    <ion-item-divider>
      <ion-label slot="start"><span class="fs-25">25</span> February 2562</ion-label>
      <ion-label slot="end" class="p-r-10">+3500</ion-label>
    </ion-item-divider>
  
    <ion-card >
      <ion-item-sliding>

      <ion-item style="margin: -8px;">
        <ion-icon name="wallet" slot="start" size="large" style="color:red !important;"></ion-icon>
        <ion-label>
          <span class="fs-14" >Food</span> 
          <br> 
          <span class="fs-11" style="color: grey !important;">กระเพราถาด</span>
        </ion-label>
        <ion-chip fill="outline" slot="end" style="color:red !important;">-500</ion-chip>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    </ion-card>
    <ion-card >
      <ion-item style="margin: -8px;">
        <ion-icon name="wallet" slot="start" size="large" style="color:red !important;"></ion-icon>
        <ion-label>
          <span class="fs-14" >Clothing</span> 
          <br> 
          <span class="fs-11" style="color: grey !important;">เสื้อใหม่</span>
        </ion-label>
        <ion-chip fill="outline" slot="end" style="color:red !important;">-1000</ion-chip>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item style="margin: -8px;">
        <ion-icon name="cash" slot="start" size="large" style="color:rgb(5, 209, 5) !important;"></ion-icon>
        <ion-label>
          <span class="fs-14" >Buu Salary</span> 
          <br> 
          <span class="fs-11" style="color: grey !important;">เงินดือนออกแล้วโว้ยยย</span>
        </ion-label>
        <ion-chip fill="outline" slot="end" style="color:green !important;">+5000</ion-chip>
      </ion-item>
    </ion-card>

    <ion-item-divider>
      <ion-label slot="start"><span class="fs-25">24</span> February 2562</ion-label>
      <ion-label slot="end" class="p-r-10">-1500</ion-label>
    </ion-item-divider>
  
    <ion-card >
      <ion-item style="margin: -8px;">
        <ion-icon name="wallet" slot="start" size="large" style="color:red !important;"></ion-icon>
        <ion-label>
          <span class="fs-14" >Cafe</span> 
          <br> 
          <span class="fs-11" style="color: grey !important;">ชิว ๆ ที่ SE Cafe</span>
        </ion-label>
        <ion-chip fill="outline" slot="end" style="color:red !important;">-500</ion-chip>
      </ion-item>
    </ion-card>
    <ion-card >
      <ion-item style="margin: -8px;">
        <ion-icon name="wallet" slot="start" size="large" style="color:red !important;"></ion-icon>
        <ion-label>
          <span class="fs-14" >Clothing</span> 
          <br> 
          <span class="fs-11" style="color: grey !important;">เสื้อใหม่</span>
        </ion-label>
        <ion-chip fill="outline" slot="end" style="color:red !important;">-1000</ion-chip>
      </ion-item>
    </ion-card>

  </ion-list>
 
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
