<ion-header class=" header-bg-color">
  <ion-toolbar >
    <ion-grid>
      <ion-row class="ion-align-items-center p-t-10">
        <ion-col></ion-col> 
        <ion-col style="text-align: center;">
          <ion-chip class="chip-bl">
            <ion-label>{{obj_wallet.wallet_name}}</ion-label>
          </ion-chip>
        </ion-col> 
        <ion-col></ion-col> 
      </ion-row>
    </ion-grid>
    <ion-title style="font-size: 40px!important;">{{obj_wallet.wallet_balance}} <span style="font-size: 20px;">THB.</span></ion-title>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col></ion-col> 
        <ion-col>
          <ion-chip class="chip-bl" (click)="modal_year()">
            <ion-label>This Month</ion-label>
          </ion-chip>
        </ion-col> 
        <ion-col></ion-col> 
      </ion-row>
    </ion-grid>
   
    <ion-list lines="none" style="background-color: transparent !important;">
      <ion-item style="background-color: transparent !important;">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col style="text-align: center">
              <!-- <ion-icon style="zoom:2.0;color:lightgreen;" name="arrow-up-outline"></ion-icon> -->
              <ion-label class="tw">
                <span class="fs-13" style="color: lightgreen !important;">Income</span> 
                <br> 
                <span class="fs-15" style="color: white !important;">{{income}}</span>
              </ion-label>
            </ion-col>
            <ion-col></ion-col>
            <ion-col style="text-align: center">
              <!-- <ion-icon style="zoom:2.0;color:red;" name="arrow-down-outline"></ion-icon> -->
              <ion-label class="tw">
                <span class="fs-13" style="color: orange !important;">Expense</span> 
                <br> 
                <span class="fs-15" style="color: white !important;">{{outcome}}</span>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-item>
    </ion-list>
  </ion-toolbar>
  
</ion-header>

<ion-content >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Item Dividers in a List -->
  <ion-list>
    <div *ngFor = "let date_transaction of all_date_transaction">
        <ion-item-divider >
          <!-- <ion-label slot="start"><span class="fs-25">11</span> March 2562</ion-label> -->
          <ion-label slot="start"><span class="fs-15">{{date_transaction}}</span></ion-label>
          <ion-label slot="end" class="p-r-10">+20500</ion-label>
        </ion-item-divider>       
          <div *ngFor = "let transaction of sortData">
          <div *ngIf="date_transaction == transaction.transaction_date">
            <ion-card >
              <ion-item-sliding >
                <ion-item style="margin: -8px;">
                  <ion-img src="{{'./../assets/icon/'+transaction.categories_name+'.png'}}"  style="width: 30px; height: 30px;" class="p-l-5"></ion-img> 
                  <ion-label class="p-l-15">
                    <span class="fs-14" >{{transaction.sub_categories_name}}</span> 
                    <!-- <span class="fs-14" >{{transaction.categories_name}}&nbsp;( {{transaction.sub_categories_name}} )</span>  -->
                    <br> 
                    <span class="fs-11" style="color: grey !important;">{{transaction.transaction_note}} </span>
                    <span class="fs-11" style="color: grey !important;" *ngIf="transaction.transaction_note == null"> no comment.</span>
                  </ion-label>
                  <ion-chip fill="outline" slot="end" style="color:red !important;" *ngIf="transaction.categories_type == '2'">- {{transaction.transaction_amount}}</ion-chip>
                  <ion-chip fill="outline" slot="end" style="color:#2ECC71  !important;" *ngIf="transaction.categories_type == '1'">+ {{transaction.transaction_amount}}</ion-chip>
                  <ion-chip fill="outline" slot="end" style="color:#2ECC71  !important;" *ngIf="transaction.categories_type == '4'">+ {{transaction.transaction_amount}}</ion-chip>
                  <ion-chip fill="outline" slot="end" style="color:red !important;" *ngIf="transaction.categories_type == '3'">- {{transaction.transaction_amount}}</ion-chip>
                </ion-item>
                <ion-item-options>
                  <ion-item-option color="primary" (click)="modal_edit_show(transaction.id)">
                    <ion-icon slot="start" name="create" ></ion-icon>
                    Edit
                  </ion-item-option>
                  <ion-item-option color="danger" (click)="transaction_active_update_AlertConfirm(transaction.id)">
                    <ion-icon slot="start" name="trash" ></ion-icon>
                    Delete
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </div>
      </div>
    </div>
  </ion-list> 
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>