<ion-header>
  <ion-toolbar class="bg-toolbar">
    <ion-item lines="none" class="bg-toolbar">
      <ion-buttons slot="start" (click)="close_modal()">
          <ion-icon name="close" style="zoom:1.5;"></ion-icon>
      </ion-buttons>
      <ion-title *ngIf="type_input == 'insert'" style="text-align: center;">Add wallet</ion-title>
      <ion-title *ngIf="type_input == 'update'" style="text-align: center;">Edit wallet</ion-title>
      <ion-buttons slot="end">
          <ion-icon name="checkmark" style="zoom:1.5;"></ion-icon>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="p-t-10">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

        <ion-item>
          <ion-icon name="wallet-outline" class="p-r-5"></ion-icon>
          <ion-label position="fixed"> Name</ion-label>
          <ion-input placeholder="" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="trail-sign-outline" class="p-r-5"></ion-icon>
          <ion-label position="fixed"> Category</ion-label>
          <ion-input placeholder="Select Category" (click)="select_category_alert()" style="text-align: right;" [(ngModel)]="catt_name" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="fs-15">Initial Balance</ion-label>
          <ion-input class="" placeholder="0" type="number"></ion-input>
        </ion-item>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-button expand="block">Save Wallet</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
